apiVersion: apps/v1
kind: Deployment
metadata:
  name: restaurante-frances
spec:
  replicas: 2
  selector:
    matchLabels:
      app: restaurante-frances
  template:
    metadata:
      labels:
        app: restaurante-frances
    spec:
      containers:
      - name: restaurante
        image: thezyon/restaurante-frances:latest
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: restaurante-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
  targetPort: 80
  selector:
    app: restaurante-frances
